doctype html
html
  head
    title Worhok

    link(rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png")
    link(rel="manifest" href="favicon/site.webmanifest")
    link(rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#272727")
    meta(name="msapplication-TileColor" content="#272727")
    meta(name="theme-color" content="#ffffff")

    link(rel='stylesheet', href='./style-min.css')
  body
    //- header(class="navbar-02-dark")
    //-   i(class="icon-menu navbar-btn-open" onclick="navbar_btn_dark()" id="navbar-btn-open")
    //-   img()
    //-   div(class="navbar-social")
    //-       a(href="#")
    //-       a(href="#")
    //-       a(href="#")
    //-   i(class="icon-x navbar-btn-close" id="navbar-btn-close")
    //-   nav(class="sidebar-dark" id="sidebar")
    //-       div(class="navbar-head-mobile")
    //-         img()
    //-       ul
    //-           li
    //-             a Ménu
    //-       div(class="navbar-footer-social")
    //-           a(href="#" class="icon-facebook")
    //-           a(href="#" class="icon-instagram")
    //-           a(href="#" class="icon-twitter")
    block content
    script(src="script-min.js")
